ClientAliveInterval {{ ssh_remote_config.client_alive_interval }}
ClientAliveCountMax {{ ssh_remote_config.client_alive_count_max }}
TCPKeepAlive {{ ssh_remote_config.tcp_keep_alive }}
AllowTcpForwarding {{ ssh_remote_config.allow_tcp_forwarding }}
X11Forwarding {{ ssh_remote_config.x11_forwarding }}
MaxSessions {{ ssh_remote_config.max_sessions }}
PasswordAuthentication {{ ssh_remote_config.password_authentication }}
